body{
    margin:0;
    overflow:hidden;
    background:skyblue;
    font-family:Arial;
    text-align:center;
}

h1{
    color:white;
    margin-top:20px;
}

.scene{
    position:relative;
    width:100%;
    height:500px;
}

.sun{
    width:100px;
    height:100px;
    background:yellow;
    border-radius:50%;
    position:absolute;
    top:50px;
    right:100px;
}

.cloud{
    width:150px;
    height:60px;
    background:white;
    border-radius:50px;
    position:absolute;
    top:100px;

    animation:cloudMove 20s linear infinite;
}

@keyframes cloudMove{
    from{
        left:-200px;
    }

    to{
        left:100%;
    }
}

.road{
    width:100%;
    height:120px;
    background:#333;
    position:absolute;
    bottom:0;
}

.car{
    position:absolute;
    bottom:60px;
    font-size:80px;

    animation:carMove 8s linear infinite;
}

@keyframes carMove{
    from{
        left:-150px;
    }

    to{
        left:100%;
    }
}
